Source: kodi-game-libretro-parallel-n64
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-parallel_n64 (>= 2.0.0) | parallel_n64 (>= 2.0.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-parallel-n64
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Nintendo - Nintendo 64 (ParaLLEl N64) core for kodi's retroplayer
 Nintendo - Nintendo 64 (ParaLLEl N64) core for kodi's retroplayer
