<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="30000">
		<setting label="30001" type="select" id="parallel-n64-64dd-hardware" values="disabled|enabled" default="disabled"/>
		<setting label="30002" type="select" id="parallel-n64-alt-map" values="disabled|enabled" default="disabled"/>
		<setting label="30003" type="select" id="parallel-n64-angrylion-multithread" values="all threads|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59|60|61|62|63" default="all threads"/>
		<setting label="30004" type="select" id="parallel-n64-angrylion-overscan" values="disabled|enabled" default="disabled"/>
		<setting label="30005" type="select" id="parallel-n64-angrylion-sync" values="Low|Medium|High" default="Low"/>
		<setting label="30006" type="select" id="parallel-n64-angrylion-vioverlay" values="Filtered|AA+Blur|AA+Dedither|AA only|Unfiltered|Depth|Coverage" default="Filtered"/>
		<setting label="30007" type="select" id="parallel-n64-aspectratiohint" values="normal|widescreen" default="normal"/>
		<setting label="30008" type="select" id="parallel-n64-astick-deadzone" values="15|20|25|30|0|5|10" default="15"/>
		<setting label="30009" type="select" id="parallel-n64-astick-sensitivity" values="100|105|110|115|120|125|130|135|140|145|150|200|50|55|60|65|70|75|80|85|90|95" default="100"/>
		<setting label="30010" type="select" id="parallel-n64-audio-buffer-size" values="2048|1024" default="2048"/>
		<setting label="30011" type="select" id="parallel-n64-boot-device" values="Default|64DD IPL" default="Default"/>
		<setting label="30012" type="select" id="parallel-n64-bufferswap" values="disabled|enabled" default="disabled"/>
		<setting label="30013" type="select" id="parallel-n64-cpucore" values="dynamic_recompiler|cached_interpreter|pure_interpreter" default="dynamic_recompiler"/>
		<setting label="30014" type="select" id="parallel-n64-disable_expmem" values="enabled|disabled" default="enabled"/>
		<setting label="30015" type="select" id="parallel-n64-dithering" values="enabled|disabled" default="enabled"/>
		<setting label="30016" type="select" id="parallel-n64-filtering" values="automatic|N64 3-point|bilinear|nearest" default="automatic"/>
		<setting label="30017" type="select" id="parallel-n64-framerate" values="original|fullspeed" default="original"/>
		<setting label="30018" type="select" id="parallel-n64-gfxplugin" values="auto|glide64|gln64|rice|angrylion" default="auto"/>
		<setting label="30019" type="select" id="parallel-n64-gfxplugin-accuracy" values="veryhigh|high|medium|low" default="veryhigh"/>
		<setting label="30020" type="select" id="parallel-n64-pak1" values="none|memory|rumble" default="none"/>
		<setting label="30021" type="select" id="parallel-n64-pak2" values="none|memory|rumble" default="none"/>
		<setting label="30022" type="select" id="parallel-n64-pak3" values="none|memory|rumble" default="none"/>
		<setting label="30023" type="select" id="parallel-n64-pak4" values="none|memory|rumble" default="none"/>
		<setting label="30024" type="select" id="parallel-n64-polyoffset-factor" values="-3.0|-2.5|-2.0|-1.5|-1.0|-0.5|0.0|0.5|1.0|1.5|2.0|2.5|3.0|3.5|4.0|4.5|5.0|-3.5|-4.0|-4.5|-5.0" default="-3.0"/>
		<setting label="30025" type="select" id="parallel-n64-polyoffset-units" values="-3.0|-2.5|-2.0|-1.5|-1.0|-0.5|0.0|0.5|1.0|1.5|2.0|2.5|3.0|3.5|4.0|4.5|5.0|-3.5|-4.0|-4.5|-5.0" default="-3.0"/>
		<setting label="30026" type="select" id="parallel-n64-rspplugin" values="auto|hle|cxd4" default="auto"/>
		<setting label="30027" type="select" id="parallel-n64-screensize" values="640x480|960x720|1280x960|1440x1080|1600x1200|1920x1440|2240x1680|2880x2160|5760x4320|320x240" default="640x480"/>
		<setting label="30028" type="select" id="parallel-n64-send_allist_to_hle_rsp" values="disabled|enabled" default="disabled"/>
		<setting label="30029" type="select" id="parallel-n64-vcache-vbo" values="disabled|enabled" default="disabled"/>
		<setting label="30030" type="select" id="parallel-n64-virefresh" values="auto|1500|2200" default="auto"/>
	</category>
</settings>
